<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.rez-source</key>
	<string>r</string>
	<key>com.microsoft.c-sharp</key>
	<string>cs</string>
	<key>com.sun.java-web-start</key>
	<string>xml</string>
	<key>public.yaml</key>
	<string>yaml</string>
	<key>public.c-source</key>
	<string>cpp</string>
	<key>public.c-header</key>
	<string>cpp</string>
	<key>org.tug.tex</key>
	<string>tex</string>
	<key>public.svg-image</key>
	<string>xml</string>
	<key>public.comma-separated-values-text</key>
	<string>plaintext</string>
	<key>public.html</key>
	<string>htmlbars</string>
	<key>com.textadept.nim-source</key>
	<string>nimrod</string>
	<key>public.nim-source</key>
	<string>nimrod</string>
	<key>org.iso.sql</key>
	<string>sql</string>
	<key>public.patch-file</key>
	<string>diff</string>
	<key>public.shell-script</key>
	<string>shell</string>
	<key>com.apple.xcode.make-script</key>
	<string>makefile</string>
	<key>public.make-source</key>
	<string>makefile</string>
	<key>public.perl-script</key>
	<string>perl</string>
	<key>com.apple.xcode.bash-script</key>
	<string>bash</string>
	<key>public.bash-script</key>
	<string>bash</string>
	<key>com.apple.xml-property-list</key>
	<string>xml</string>
	<key>public.c-plus-plus-source</key>
	<string>cpp</string>
	<key>public.c-plus-plus-header</key>
	<string>cpp</string>
	<key>public.objective-c-source</key>
	<string>objectivec</string>
	<key>public.objective-c-header</key>
	<string>objectivec</string>
	<key>public.objective-c-plus-plus-source</key>
	<string>objectivec</string>
	<key>public.objective-c-plus-plus-header</key>
	<string>objectivec</string>
	<key>public.ruby-script</key>
	<string>ruby</string>
	<key>public.python-script</key>
	<string>python</string>
	<key>public.rust-source</key>
	<string>rust</string>
	<key>public.kotlin-source</key>
	<string>kotlin</string>
	<key>com.netscape.javascript-source</key>
	<string>javascript</string>
	<key>public.text</key>
	<string>plaintext</string>
	<key>public.css</key>
	<string>css</string>
	<key>public.json</key>
	<string>json</string>
	<key>public.xml</key>
	<string>xml</string>
	<key>com.sun.java-source</key>
	<string>java</string>
	<key>com.apple.property-list</key>
	<string>xml</string>
	<key>public.php-script</key>
	<string>php</string>
	<key>public.swift-source</key>
	<string>swift</string>
	<key>public.plain-text</key>
	<string>plaintext</string>
	<key>net.daringfireball.markdown</key>
	<string>markdown</string>
	<key>com.unknown.md</key>
	<string>markdown</string>
	<key>public.markdown</key>
	<string>markdown</string>
	<key>public.go-source</key>
	<string>go</string>
	<key>com.apple.applescript.text</key>
	<string>applescript</string>
	<key>public.ada-source</key>
	<string>ada</string>
	<key>public.pascal-source</key>
	<string>delphi</string>
	<key>public.fortran-source</key>
	<string>fortran</string>
	<key>public.actionscript-source</key>
	<string>actionscript</string>
	<key>public.arduino-source</key>
	<string>arduino</string>
	<key>public.asciidoc</key>
	<string>asciidoc</string>
	<key>public.autoit-script</key>
	<string>autoit</string>
	<key>public.autohotkey-script</key>
	<string>autohotkey</string>
	<key>public.awk-script</key>
	<string>awk</string>
	<key>public.basic-source</key>
	<string>basic</string>
	<key>public.brainfuck-source</key>
	<string>brainfuck</string>
	<key>public.capnproto-source</key>
	<string>capnproto</string>
	<key>public.clojure-source</key>
	<string>clojure</string>
	<key>public.cmake-source</key>
	<string>cmake</string>
	<key>public.coffeescript-source</key>
	<string>coffeescript</string>
	<key>public.crystal-source</key>
	<string>crystal</string>
	<key>public.d-source</key>
	<string>d</string>
	<key>public.dart-source</key>
	<string>dart</string>
	<key>public.dos-batch</key>
	<string>dos</string>
	<key>public.elixir-source</key>
	<string>elixir</string>
	<key>public.elm-source</key>
	<string>elm</string>
	<key>public.erb-template</key>
	<string>erb</string>
	<key>public.erlang-source</key>
	<string>erlang</string>
	<key>public.fsharp-source</key>
	<string>fsharp</string>
	<key>public.gcode</key>
	<string>gcode</string>
	<key>public.gherkin-feature</key>
	<string>gherkin</string>
	<key>public.glsl-source</key>
	<string>glsl</string>
	<key>public.gradle-source</key>
	<string>gradle</string>
	<key>public.groovy-source</key>
	<string>groovy</string>
	<key>public.haml-template</key>
	<string>haml</string>
	<key>public.handlebars-template</key>
	<string>handlebars</string>
	<key>public.haskell-source</key>
	<string>haskell</string>
	<key>public.haxe-source</key>
	<string>haxe</string>
	<key>public.ini-config</key>
	<string>ini</string>
	<key>public.julia-source</key>
	<string>julia</string>
	<key>public.ldif</key>
	<string>ldif</string>
	<key>public.less-source</key>
	<string>less</string>
	<key>public.lisp-source</key>
	<string>lisp</string>
	<key>public.llvm-ir</key>
	<string>llvm</string>
	<key>public.lua-source</key>
	<string>lua</string>
	<key>public.moonscript-source</key>
	<string>moonscript</string>
	<key>public.nix-expression</key>
	<string>nix</string>
	<key>public.nsis-script</key>
	<string>nsis</string>
	<key>public.ocaml-source</key>
	<string>ocaml</string>
	<key>public.openscad-source</key>
	<string>openscad</string>
	<key>public.pony-source</key>
	<string>pony</string>
	<key>public.powershell-script</key>
	<string>powershell</string>
	<key>public.processing-source</key>
	<string>processing</string>
	<key>public.prolog-source</key>
	<string>prolog</string>
	<key>public.java-properties</key>
	<string>properties</string>
	<key>public.protobuf-source</key>
	<string>protobuf</string>
	<key>public.puppet-manifest</key>
	<string>puppet</string>
	<key>public.qml-source</key>
	<string>qml</string>
	<key>public.reasonml-source</key>
	<string>reasonml</string>
	<key>public.sas-source</key>
	<string>sas</string>
	<key>public.scala-source</key>
	<string>scala</string>
	<key>public.scheme-source</key>
	<string>scheme</string>
	<key>public.scilab-source</key>
	<string>scilab</string>
	<key>public.scss-source</key>
	<string>scss</string>
	<key>public.smalltalk-source</key>
	<string>smalltalk</string>
	<key>public.smali-source</key>
	<string>smali</string>
	<key>public.sml-source</key>
	<string>sml</string>
	<key>public.sqf-source</key>
	<string>sqf</string>
	<key>public.stan-source</key>
	<string>stan</string>
	<key>public.stata-source</key>
	<string>stata</string>
	<key>public.stylus-source</key>
	<string>stylus</string>
	<key>public.tcl-script</key>
	<string>tcl</string>
	<key>public.thrift-source</key>
	<string>thrift</string>
	<key>public.twig-template</key>
	<string>twig</string>
	<key>public.typescript-source</key>
	<string>typescript</string>
	<key>public.vala-source</key>
	<string>vala</string>
	<key>public.vb-source</key>
	<string>vbnet</string>
	<key>public.vbscript-source</key>
	<string>vbscript</string>
	<key>public.verilog-source</key>
	<string>verilog</string>
	<key>public.vhdl-source</key>
	<string>vhdl</string>
	<key>public.vim-script</key>
	<string>vim</string>
	<key>public.xquery-source</key>
	<string>xquery</string>
	<key>public.zephir-source</key>
	<string>zephir</string>
</dict>
</plist>
