<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionscript</key>
	<string>//</string>
	<key>ada</key>
	<string>--</string>
	<key>applescript</key>
	<string>--</string>
	<key>arduino</key>
	<string>//</string>
	<key>autohotkey</key>
	<string>;</string>
	<key>autoit</key>
	<string>;</string>
	<key>awk</key>
	<string>#</string>
	<key>bash</key>
	<string>#</string>
	<key>basic</key>
	<string>'</string>
	<key>capnproto</key>
	<string>#</string>
	<key>clojure</key>
	<string>;</string>
	<key>cmake</key>
	<string>#</string>
	<key>coffeescript</key>
	<string>#</string>
	<key>cpp</key>
	<string>//</string>
	<key>crystal</key>
	<string>#</string>
	<key>cs</key>
	<string>//</string>
	<key>d</key>
	<string>//</string>
	<key>dart</key>
	<string>//</string>
	<key>dos</key>
	<string>REM</string>
	<key>elixir</key>
	<string>#</string>
	<key>elm</key>
	<string>--</string>
	<key>erlang</key>
	<string>%</string>
	<key>fortran</key>
	<string>!</string>
	<key>fsharp</key>
	<string>//</string>
	<key>gherkin</key>
	<string>#</string>
	<key>glsl</key>
	<string>//</string>
	<key>go</key>
	<string>//</string>
	<key>gradle</key>
	<string>//</string>
	<key>groovy</key>
	<string>//</string>
	<key>haskell</key>
	<string>--</string>
	<key>haxe</key>
	<string>//</string>
	<key>ini</key>
	<string>;</string>
	<key>java</key>
	<string>//</string>
	<key>javascript</key>
	<string>//</string>
	<key>julia</key>
	<string>#</string>
	<key>kotlin</key>
	<string>//</string>
	<key>less</key>
	<string>//</string>
	<key>lisp</key>
	<string>;</string>
	<key>lua</key>
	<string>--</string>
	<key>makefile</key>
	<string>#</string>
	<key>moonscript</key>
	<string>--</string>
	<key>nimrod</key>
	<string>#</string>
	<key>nix</key>
	<string>#</string>
	<key>objectivec</key>
	<string>//</string>
	<key>ocaml</key>
	<string>//</string>
	<key>perl</key>
	<string>#</string>
	<key>php</key>
	<string>//</string>
	<key>powershell</key>
	<string>#</string>
	<key>processing</key>
	<string>//</string>
	<key>prolog</key>
	<string>%</string>
	<key>properties</key>
	<string>#</string>
	<key>protobuf</key>
	<string>//</string>
	<key>puppet</key>
	<string>#</string>
	<key>python</key>
	<string>#</string>
	<key>qml</key>
	<string>//</string>
	<key>r</key>
	<string>#</string>
	<key>reasonml</key>
	<string>//</string>
	<key>ruby</key>
	<string>#</string>
	<key>rust</key>
	<string>//</string>
	<key>sas</key>
	<string>*</string>
	<key>scala</key>
	<string>//</string>
	<key>scheme</key>
	<string>;</string>
	<key>scss</key>
	<string>//</string>
	<key>shell</key>
	<string>#</string>
	<key>smali</key>
	<string>#</string>
	<key>sql</key>
	<string>--</string>
	<key>stan</key>
	<string>//</string>
	<key>stata</key>
	<string>*</string>
	<key>stylus</key>
	<string>//</string>
	<key>swift</key>
	<string>//</string>
	<key>tcl</key>
	<string>#</string>
	<key>tex</key>
	<string>%</string>
	<key>thrift</key>
	<string>//</string>
	<key>typescript</key>
	<string>//</string>
	<key>vala</key>
	<string>//</string>
	<key>vbnet</key>
	<string>'</string>
	<key>vbscript</key>
	<string>'</string>
	<key>verilog</key>
	<string>//</string>
	<key>vhdl</key>
	<string>--</string>
	<key>vim</key>
	<string>"</string>
	<key>yaml</key>
	<string>#</string>
	<key>zephir</key>
	<string>//</string>
</dict>
</plist>
